/* HTML reset */

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML variables & restyle */
:root {
    --black: #463f3a;
    --gray: #8a817c;
    --light-gray: #bcb8b1;
    --melon: #e0afa0;
    --white: #f4f3ee;
	--yellow: #ebd057;

	--light-blue: #6f90be;
	--dark-blue: #2e466e;
	--red: #a70f1e;
	--dark-red: #980615;

	--doc-height: 100vh; /* change in code */
	--padding: 1rem;

	font-size: 16px;
}

body {
    background-color: var(--black);
    color: var(--white);
	font-family: 'Poppins', sans-serif;
	height: var(--doc-height);
}

h1 {
	font-size: 1.8rem;
	font-weight: 500;
}

h2 {
	font-size: 1.8rem;
	font-weight: 500;
	/* padding-top: var(--padding) */
}

::selection {
	background-color: var(--light-blue);
	color: var(--white);
}



/* page layout */

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr minmax(5rem, min-content);
	overflow: hidden;
}

header {
	background-color: var(--white);
	color: var(--black);

	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;

	padding: var(--padding);
}

main {
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	display: grid;
	padding: var(--padding);
	align-items: end;
	justify-items: end;
}

.infos {
	--elem-height: min-content;
	display: grid;
	gap: 0.2rem;
	transform: translateY(var(--elem-height));
	transition: transform 0.3s;
}

.infos > p {
	font-style: italic;
	font-weight: 300;
	font-size: 0.8em;
}

footer.active {
	background-color: var(--gray);
	justify-items: start;
}

footer.active .title {
	font-size: 1.2em;
	font-weight: 400;
}

table {
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
}

thead tr {
	font-weight: 500;
	font-size: 0.8em;
}

tbody tr {
	border-bottom: 1px solid var(--light-gray);
	cursor: pointer;
	transition: background-color 0.2s;
}
tbody tr:hover {
	background-color: var(--dark-blue);
}

td, th {
	text-align: start;
	padding: 0.8rem;
}

.hline {
	min-height: 3px;
	max-height: 3px;
	color: inherit;
	background-color: currentColor;
}

form.clipped {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
	align-items: center;
}
form h2 {
	padding: var(--padding);
}
.form-footer {
	background-color: var(--white);
	align-self: stretch;
	display: flex;
	align-items: center;
	padding: 0 var(--padding);
}

.form-footer button.submit {
	background: none;
	color: var(--black);
	/* border: 1px solid currentColor; */
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;

	border-radius: 0.5rem;
	transition: background-color .2s, transform .2s;
	cursor: pointer;
	flex: 0 0 auto;
	padding: .6rem 2rem;
}
.form-footer button.submit:hover {
	background-color: var(--light-blue);
	color: var(--white);
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.form-footer button.submit:active {
	transform: translateY(2px);
}
.form-footer p.alert {
	flex: 1 1 auto;
	color: var(--dark-red);
}

fieldset {
	/* background-color: var(--white); */
	height: 100%;
	padding: 0 var(--padding);
	display: grid;
	gap: 1rem;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(2, 1fr);
}
fieldset > .input-pair {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
fieldset > .vsep {
	flex-grow: 1;
}
input {
	border: none;
	padding: 0.6rem 1.2rem;
	font-family: inherit;
	background-color: var(--white);
	border-radius: 0.5rem;
}
input#title {
	font-size: 2rem;
}
.input-pair:first-of-type {
	grid-column: 1 / span 2;
}

.button-pair {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin-top: 1rem;
	justify-self: flex-end;
}
button.submit {
	background-color: var(--white);
	border: none;
	padding: 0.5rem 2rem;
	font: inherit;
}
.button-pair > .alert {
	flex: 1 1 auto;
	color: var(--dark-red);
	font-weight: 400;
	white-space: normal;
}
/* elements */

.mask, .clip {
	position: absolute;
	border-radius: 50%;
	transition: all .3s;
	/* z-index: 10; */
}

.mask {
	background-color: var(--melon);
}
.clip {
	background: none;
	clip-path: inset(0 0 0 0 round 50%);
}

.content {
	position: fixed;
	inset: 0;
	padding: var(--padding);
	display: grid;
	grid-template-rows: 1fr min-content;

}

button.flat {
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
	transition: transform 0.15s;
}

button.flat:hover {
	transform: scale(1.2);
}

#add-button {
	font-size: 1.8rem;
	z-index: 30;
}

#delete-button {
	color: var(--yellow);
	border: 1px solid currentColor;
	align-self: start;
}

#add-button.active {
	color: var(--white);
	transform: rotate(45deg);
}

#add-button.active:hover {
	transform: scale(1.2) rotate(45deg);
}
